%h1 観劇履歴

%ul
  - @viewing_logs.each do |log|
    %li
      = link_to log.event.title.name, event_path(log.event.id)
      (#{log.event.play_at})#{log.event.theater.name}
      %ul
        - log.event.actors.each do |actor|
          %li
            = link_to actor.name, actor_path(actor.id)
